<section>
    <h2>Evolución IT</h2>
    <div style="float: left; position: relative; width: 30%">
        <img style="float: left; width: 100%;" src="images/tradicional.svg" />
    </div>
    <div style="float: left; position: relative; width: 30%" class="fragment">
        <img style="float: left; width: 100%;" src="images/iaas.svg" />
    </div>
    <div style="float: left; position: relative; width: 30%" class="fragment">
        <img style="float: left; width: 100%;" src="images/paas.svg" />
    </div>

    <aside class="notes">
        Si eliminamos el hipervisor y hacemos que las aplicaciones sean desplegadas junto con sus dependencias (runtime environment), tenemos un contenedor.
        Los contenedores hacen uso de las funcionalidades del kernel sobre el que son ejecutados. Son más eficientes pero también menos seguros. Además son más
        complicados de configurar y automatizar, por eso no se empleaban aunque existiese la tecnología (hasta que llegó Docker).
    </aside>
</section>
